<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <section>
        
        <form action="/products/create" method="POST" style="margin-top:15%; margin-left: 15%;">
            <input type="text" name="id" placeholder="ID" required style="margin: 10px;"> 
            <input type="text" name="name" placeholder="Product Name" style="margin: 10px;">
            <input type="number" name="quantity" placeholder="Quantity" style="margin: 10px;">
            <input type="submit" value="create" style="margin: 10px;">
        </form>
        
    </section>

    
</body>
</html>
    
